@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Montserrat:wght@700&family=Open+Sans&display=swap");
/* BREAKPOINTS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  margin: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 52px;
}

.h2-half {
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 21px;
}

.subtitle {
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 60em) {
  h1, h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 21px;
  }
  .subtitle {
    font-size: 16px;
  }
}

.mb-2rem {
  margin-bottom: 2rem;
}

.wrapper {
  padding: 80px 0;
}

@media (max-width: 60em) {
  .wrapper {
    padding: 40px 0;
  }
}

.grey-text {
  color: rgba(0, 0, 0, 0.6);
}

.button {
  padding: 1rem 2rem !important;
  font-weight: 700;
  background-color: #FE0002;
  color: white;
  border: 2px solid #FE0002;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 60em) {
  .button {
    font-size: 14px;
  }
}

.button:hover, .button:active {
  background-color: #cb0002;
  border-color: #cb0002;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: white;
}

.button.full {
  width: 100%;
}

.button.btn-white {
  background-color: white;
  color: #FE0002;
  border: 2px solid white;
}

.button.btn-hollow {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.button.btn-hollow-primary {
  background-color: transparent;
  color: #FE0002;
  border: 2px solid #FE0002;
}

.button.btn-hollow-black {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  color: #FE0002;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}

.hero-alt {
  padding: 8rem 0 1rem;
  position: relative;
}

.hero-alt .background {
  position: absolute;
  right: .75rem;
  top: 0;
  height: 100%;
  display: block;
}

.hero-alt .background img {
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .hero-alt .background img {
    height: 85%;
  }
}

.hero-alt .hero-text {
  text-align: end;
  z-index: 4;
  position: relative;
}

.hero-alt .hero-text h1 {
  margin-bottom: 2rem;
  font-size: 48px;
  line-height: 64px;
}

.hero-alt .hero-text p {
  line-height: 34px;
}

@media (max-width: 60em) {
  .hero-alt {
    padding: 0;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .hero-alt .background-mobile {
    padding: 0;
  }
  .hero-alt .background-mobile img {
    width: 100%;
  }
  .hero-alt .background {
    display: none;
  }
  .hero-alt .hero-text {
    text-align: start;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: -8rem;
  }
}

.page-title {
  padding: 80px 0;
  background-color: #F3F4F7;
  text-align: center;
  margin-bottom: 5rem;
}

.page-title p {
  margin-top: 2rem;
}

@media (max-width: 60em) {
  .page-title {
    padding: 60px;
    margin-bottom: 1rem;
  }
  .page-title p {
    font-size: 1rem;
  }
}

.cta {
  position: relative;
}

.cta .container {
  margin-right: 0;
  margin-left: auto;
  max-width: 90vw;
}

.cta .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta .register-text {
  position: relative;
  z-index: 4;
}

.cta .register-text h2 {
  margin-bottom: 1rem;
}

.cta .register-text p {
  margin-bottom: 2rem;
}

.cta .bg-wrapper {
  position: absolute;
  right: .75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cta .bg-wrapper img {
  width: 100%;
}

.cta .image-wrapper {
  position: relative;
  text-align: end;
  mix-blend-mode: multiply;
}

.cta .image-desktop {
  padding-left: 0;
}

.cta .image-mobile {
  display: none;
}

@media (max-width: 60em) {
  .cta .container {
    max-width: 100%;
  }
  .cta .register-text {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    margin-top: -6rem;
  }
  .cta .image-mobile {
    display: block;
    padding: 0;
  }
  .cta .image-mobile .image-wrapper {
    opacity: 1;
    margin-bottom: 2rem;
  }
  .cta .image-mobile .image-wrapper img {
    width: 100%;
  }
  .cta .image-desktop {
    display: none;
  }
}

.cta.left .container {
  margin-left: 0;
  max-width: 100vw;
}

.cta.left .bg-wrapper {
  left: .75rem;
  left: 0;
}

.cta.left .bg-wrapper img {
  width: 100%;
}

.cta.left .image-wrapper {
  text-align: start;
  position: relative;
  left: 0;
}

.list-image-item {
  background-color: #F3F4F7;
  padding: 2rem;
  padding-left: 0;
  margin-left: 7rem;
}

.list-image-item .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-image-item:first-child {
  margin-bottom: 2rem;
}

.list-image-item .image-wrapper {
  margin-left: -7rem;
  margin-right: 2rem;
}

.list-image-item .image-wrapper img {
  width: 100%;
}

@media (max-width: 60em) {
  .list-image-item {
    margin-left: 0;
    padding: 1rem;
    padding-top: 0;
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .list-image-item .image-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: -4rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list-image-item .image-wrapper img {
    width: 60%;
  }
  .list-image-item .button-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-image-item .button {
    width: 100%;
  }
  .list-image-item .button:first-child {
    margin-bottom: 1rem;
    margin-right: 0 !important;
  }
}

.image-grid {
  margin-bottom: 4rem;
}

.image-grid .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-grid .item-header {
  margin-bottom: 1rem;
}

.image-grid.right .image-wrapper {
  margin-left: 2rem;
}

.image-grid.left .image-wrapper {
  margin-right: 4rem;
}

.image-grid .image-wrapper img {
  width: 100%;
}

@media (max-width: 60em) {
  .image-grid.right .item-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .image-grid.right .item-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2rem;
  }
  .image-grid.right .image-wrapper {
    margin-left: 0;
  }
  .image-grid.left .item-image {
    margin-bottom: 2rem;
  }
  .image-grid.left .image-wrapper {
    margin-right: 0;
  }
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
  padding-left: 0;
  background-color: #F3F4F7;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.list-item .image-wrapper {
  margin-left: -1rem;
  margin-right: 2rem;
}

.list-item .number-wrapper {
  margin-left: -1rem;
  margin-right: 2rem;
  background-color: #FE0002;
  color: white;
  min-width: 32px;
  height: 32px;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-size: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-popup {
  width: 75%;
  margin: 0 auto;
}

.video-popup iframe {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 60em) {
  .video-popup {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 60em) {
  .navigation {
    padding: 1.5rem 0;
  }
}

.navigation .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .row .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .row .hamburger {
  display: none;
}

@media (max-width: 60em) {
  .navigation .row .hamburger {
    display: block;
  }
}

.navigation .row .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 60em) {
  .navigation .row .menu {
    display: none;
  }
}

.navigation .row .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.navigation .row .menu ul .button {
  padding: 12px 18px !important;
  font-size: 13px;
}

.navigation .row .menu ul .button.active {
  background-color: #FE0002;
  border-color: #FE0002;
}

.navigation .row .menu ul li.menu-link {
  padding: 1.5rem 2rem 1.5rem 0;
  position: relative;
}

.navigation .row .menu ul li.menu-link a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: #FE0002;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.navigation .row .menu ul li.menu-link a.active, .navigation .row .menu ul li.menu-link a:hover {
  color: #FE0002;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.navigation .row .menu ul li.menu-link a.active:after, .navigation .row .menu ul li.menu-link a:hover:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.offcanvas .offcanvas-header {
  padding: 1.5rem 1rem;
}

.offcanvas .offcanvas-body {
  background-color: #F3F4F7;
}

.offcanvas .offcanvas-body .offcanvas-menu ul {
  padding: 0;
  margin: 0;
}

.offcanvas .offcanvas-body .offcanvas-menu ul li {
  padding: 1rem;
}

.offcanvas .offcanvas-body .offcanvas-menu ul li.active {
  background-color: white;
  color: #FE0002;
  font-weight: bold;
  border-right: 10px #FE0002 solid;
  margin: .5rem 0;
}

.offcanvas .offcanvas-body .offcanvas-menu ul .button {
  width: 100%;
  margin-top: 1rem;
}

.offcanvas .offcanvas-body .offcanvas-menu ul .button li {
  padding: 0;
}

footer {
  background-color: #F3F4F7;
  position: relative;
}

footer .bg-red {
  position: absolute;
  left: 0;
  top: 0;
}

footer .footer-content {
  padding: 6rem 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content .logo-text {
  margin-bottom: 2rem;
  font-size: 32px;
}

footer .footer-content .socials {
  margin-bottom: 4rem;
}

footer .footer-content .socials i {
  font-size: 2.5rem;
  margin: 0 .5rem;
}

footer .footer-content .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

footer .footer-content .footer-menu ul li {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  padding: 0 1.5rem;
  border-right: 2px solid black;
  line-height: 1rem;
  font-size: 21px;
}

footer .footer-content .footer-menu ul li:last-child {
  border: none;
}

@media (max-width: 60em) {
  footer .footer-content .footer-menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-content .footer-menu ul li {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.25rem;
  }
}

footer .copyright {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
}

.hero {
  position: relative;
}

.hero .container .row .hero-text {
  min-height: 90vh;
  z-index: 4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 5rem;
}

.hero .container .row .hero-text h1 {
  margin-bottom: 20px;
}

.hero .container .row .hero-text p {
  margin-bottom: 2rem;
}

.hero .container .row .hero-text .button {
  font-size: 18px;
}

@media (max-width: 60em) {
  .hero .container .row .hero-text {
    min-height: 0;
    padding-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: -6.5rem;
  }
  .hero .container .row .hero-text .button {
    width: 100%;
  }
  .hero .container .row .hero-text .button:first-child {
    margin-bottom: 1rem;
  }
}

.hero .container .row .hero-image {
  position: absolute;
  right: 0;
  padding: 0 !important;
  height: 100%;
}

.hero .container .row .hero-image .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.hero .container .row .hero-image .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 60em) {
  .hero .container .row .hero-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    position: relative;
  }
  .hero .container .row .hero-image .image-wrapper img {
    width: 100%;
  }
}

.about {
  position: relative;
}

.about .background {
  position: absolute;
  left: 0;
  height: 100%;
}

.about .background img {
  width: 100%;
  height: 100%;
}

.about .container > .row {
  padding: 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .about-text {
  position: relative;
  z-index: 3;
  padding-right: 4rem;
}

.about .container .about-text h2 {
  margin-bottom: 2rem;
}

@media (min-width: 80em) {
  .about .container .list-image-item {
    margin-left: 3rem;
  }
  .about .container .list-image-item .image-wrapper {
    margin-left: -3rem;
  }
  .about .container .list-image-item p {
    margin-bottom: 1rem;
  }
  .about .container .list-image-item .button {
    font-size: 14px;
  }
}

@media (max-width: 60em) {
  .about .background {
    display: none;
  }
  .about .container > .row .about-text {
    padding-right: 0;
  }
}

.how-to {
  position: relative;
  margin-bottom: 60px;
}

.how-to .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.how-to .container .row .text h2 {
  position: relative;
  z-index: 3;
}

.how-to .container .row .image .image-wrapper {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  top: 0;
}

.how-to .container .row .image .image-wrapper img {
  width: 100%;
}

@media (max-width: 60em) {
  .how-to .container .row .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -10rem;
  }
  .how-to .container .row .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .how-to .container .row .image .image-wrapper {
    position: relative;
  }
}

.how-items {
  margin-bottom: 3rem;
}

.how-items .item-left {
  background-color: #F3F4F7;
  position: relative;
  margin-bottom: 2rem;
  width: 87vw;
  margin-right: auto;
}

.how-items .item-left .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-items .item-left .item-text {
  padding-right: 3rem;
}

.how-items .item-left .item-image {
  padding: 3rem;
  z-index: 4;
  position: relative;
  padding-left: 8rem;
}

.how-items .item-left .item-image:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  content: '';
  background-color: #FE0002;
  mix-blend-mode: multiply;
}

.how-items .item-left .item-image:after img {
  height: 100%;
  width: 100%;
}

.how-items .item-left .item-image .image-wrapper {
  position: relative;
}

@media (max-width: 60em) {
  .how-items .item-left {
    background-color: white;
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
  }
  .how-items .item-left .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-items .item-left .item-text {
    padding: 0 1rem;
  }
  .how-items .item-left .item-image {
    background-color: #F3F4F7;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem;
    width: 100%;
  }
}

.how-items .item-right {
  background-color: #F3F4F7;
  position: relative;
  margin-bottom: 2rem;
  width: 87vw;
  margin-left: auto;
}

.how-items .item-right .item-text {
  padding-left: 3rem;
}

.how-items .item-right .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-items .item-right .item-image {
  padding: 3rem;
  z-index: 4;
  position: relative;
  padding-right: 8rem;
}

.how-items .item-right .item-image:after {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  content: '';
  background-color: #FE0002;
  mix-blend-mode: multiply;
}

.how-items .item-right .item-image:after img {
  height: 100%;
  width: 100%;
}

.how-items .item-right .item-image .image-wrapper {
  position: relative;
}

@media (max-width: 60em) {
  .how-items .item-right {
    background-color: white;
    margin-bottom: 2rem;
    margin-left: 0;
    width: 100%;
  }
  .how-items .item-right .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-items .item-right .item-text {
    padding: 0 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .how-items .item-right .item-image {
    background-color: #F3F4F7;
    margin-bottom: 2rem;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 2rem;
    text-align: center;
  }
}

.aware {
  position: relative;
  margin-bottom: 71px;
}

.aware .container .row {
  min-height: 53vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aware .container .row .image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.aware .container .row .image-wrapper img {
  height: 100%;
}

.aware .container .row .aware-text {
  z-index: 4;
  position: relative;
  margin-left: 1rem;
}

.aware .container .row .mobile {
  display: none;
}

.aware .container .row .desktop {
  display: block;
}

@media (max-width: 60em) {
  .aware .container .row .desktop {
    display: none;
  }
  .aware .container .row .mobile {
    display: block;
  }
  .aware .container .row .aware-text {
    margin-left: 0;
  }
  .aware .container .row .image-wrapper {
    position: relative;
    margin-bottom: 1rem;
  }
  .aware .container .row .image-wrapper img {
    width: 100%;
  }
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #F3F4F7;
  padding: 4rem;
  margin-bottom: 3rem;
}

.video h3 {
  margin-bottom: 69px;
}

.video .thumbnail-wrapper {
  min-width: 300px;
  width: 50vw;
  -webkit-box-shadow: -20px 20px #FE0002;
          box-shadow: -20px 20px #FE0002;
  position: relative;
}

.video .play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FE0002;
  background-color: white;
  padding: 1rem 2rem;
  font-size: 2.5rem;
}

@media (max-width: 60em) {
  .video .play {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
}

.start {
  padding: 3rem 0;
}

.start .start-header {
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .start .start-header {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
  }
}

.start .start-header h2 {
  margin-bottom: 2rem;
}

.problem {
  padding: 5rem 0;
}

@media (min-width: 80em) {
  .problem .first-row {
    padding-right: 2rem;
  }
  .problem .image-wrapper img {
    width: 90% !important;
  }
}

@media (max-width: 60em) {
  .problem {
    padding: 2rem 0;
  }
}

.problem .problem-header h2, .problem .problem-header p {
  margin-bottom: 2rem;
}

.problem .list-wrapper {
  margin-top: 2rem;
}

.problem .list-image-item h4 {
  margin-bottom: 20px;
}

.problem .list-image-item p {
  font-size: 21px;
}

.register {
  margin-bottom: 3rem;
}

.faq {
  padding: 3rem 0;
}

.faq .container .row .faq-header {
  text-align: center;
  margin-bottom: 2rem;
}

.faq .container .row .nav-tabs {
  border-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.faq .container .row .nav-tabs .btn-primary {
  background-color: #ff9899;
  border-color: rgba(254, 0, 2, 0.1);
  margin: 0 1rem;
}

.faq .container .row .nav-tabs .btn-primary:hover, .faq .container .row .nav-tabs .btn-primary.active, .faq .container .row .nav-tabs .btn-primary.active:focus {
  background-color: #FE0002;
  border-color: #FE0002;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq .container .row .accordion-container {
  position: relative;
  height: auto;
  margin: 10px auto;
}

.faq .container .row .set {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  background-color: #F3F4F7;
  border-radius: 10px;
}

.faq .container .row .set > .header {
  display: block;
  padding: 1.5rem 2rem;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
  font-size: 21px;
}

.faq .container .row .set > .header.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .container .row .set > .header i {
  float: right;
  font-size: 12px;
  margin-top: 2px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #FE0002;
  border-radius: 50%;
}

.faq .container .row .set > .header i::before {
  margin-top: 3px;
}

@media (max-width: 60em) {
  .faq .container .row .set > .header {
    padding: 1rem;
    font-size: 1rem;
  }
}

.faq .container .row .content {
  background-color: #F3F4F7;
  display: none;
  border: 0 0 10px 10px;
}

.faq .container .row .content p {
  padding: 1.5rem 2rem;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 60em) {
  .faq .container .row .content p {
    padding: 1rem;
    padding-top: 0;
    font-size: 14px;
  }
}

.benefits .button {
  font-size: 14px;
}

.products .container {
  position: relative;
}

.products .container .cta p {
  margin-bottom: 0;
}

.product-items {
  text-align: center;
}

@media (max-width: 60em) {
  .product-items {
    text-align: left;
  }
  .product-items .image-wrapper {
    margin-bottom: 2rem;
  }
  .product-items .image-wrapper img {
    width: 100%;
  }
}

.product-items .text-header {
  margin-bottom: 20px;
}

.product-items .subtitle {
  margin-bottom: 40px;
}

.supplier .hero-alt {
  margin-bottom: 2rem;
  padding-top: 4rem;
}

.supplier .hero-alt .row {
  min-height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.supplier .hero-alt .background img {
  height: 110%;
}

.supplier .join h2 {
  padding-right: 8rem;
}

@media (max-width: 60em) {
  .supplier .join h2 {
    padding: 0;
  }
}

@media (min-width: 80em) {
  .supplier .join .first-row {
    padding-right: 3rem;
  }
}

.about-page .hero-alt .background img {
  height: 90%;
}

.blogs {
  padding-bottom: 100px;
}

.blogs .blog-item {
  padding: 40px 2rem;
  background-color: #F3F4F7;
  margin-bottom: 2rem;
}

.blogs .blog-item .blog-title {
  margin-bottom: .75rem;
}

.blogs .blog-item .date {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.blogs .blog-item .blog-desc {
  margin-bottom: 1rem;
}

@media (max-width: 60em) {
  .blogs .blog-item .image-wrapper {
    margin-bottom: 1rem;
  }
}

.blogs .small-title {
  margin-bottom: 20px;
}

.blogs .blog-item-small {
  padding: 2rem;
  background-color: #F3F4F7;
  margin-bottom: 52px;
}

.blogs .blog-item-small .image-wrapper {
  margin-bottom: 20px;
}

.blogs .blog-item-small .blog-title {
  font-size: 21px;
}

.blogs .socials {
  padding: 36px;
  background-color: #F3F4F7;
  margin-bottom: 2rem;
}

.blogs .socials i {
  font-size: 42px;
}

.form-contact {
  padding-bottom: 5rem;
}

.form-contact h5 {
  margin-bottom: 2rem;
}

.form-contact .contact-item {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-contact .contact-item .image-wrapper {
  margin-right: 20px;
}

.form-box {
  padding: 40px 32px;
  background-color: #F3F4F7;
  margin-right: 2rem;
}

.form-box .form-control, .form-box .form-select {
  padding: 15px;
  color: black;
}

.form-box .form-check-input:checked {
  background-color: #FE0002;
  border-color: #FE0002;
}

.form-box .form-check-input:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(254, 0, 2, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(254, 0, 2, 0.25);
  border-color: rgba(254, 0, 2, 0.25);
}

@media (max-width: 60em) {
  .form-box {
    margin-right: -1rem;
    margin-bottom: 3rem;
    margin-left: -1rem;
  }
}

.faq-page .page-title {
  margin-bottom: 0;
}

.faq-page .faq.page {
  padding-top: 0;
  margin-top: -2rem;
}

.testimoni .row .list-image-item {
  margin-left: 3rem;
}

.testimoni .row .list-image-item .image-wrapper {
  margin-left: -3rem;
}

.testimoni .slick-slide {
  margin: 0 27px;
}

.testimoni .slick-list {
  margin: 0 -27px;
  padding: 0 40% 0 0 !important;
}

.testimoni .slick-dots li button {
  padding: 0;
  width: 12px;
  height: 8px;
  margin: 0;
}

.testimoni .slick-dots li button:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  width: 12px;
  height: 8px;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.testimoni .slick-dots li.slick-active {
  width: 50px;
}

.testimoni .slick-dots li.slick-active button {
  width: 50px;
}

.testimoni .slick-dots li.slick-active button:before {
  width: 50px;
  background-color: #FE0002;
}

@media (max-width: 60em) {
  .testimoni .slick-slide {
    margin: 0 1rem;
  }
  .testimoni .slick-list {
    margin: 0 -1rem;
    padding: 0 12% 0 0 !important;
  }
}

@media (min-width: 80em) {
  .join .first-row {
    padding-right: 2rem;
  }
}

body, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

.wrapper-container .container {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 60em) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 87.5em) {
  .container {
    max-width: 1142px;
  }
}
/*# sourceMappingURL=style.css.map */