.button {
    padding: 1rem 2rem !important;
    font-weight: 700;
    background-color: $primary;
    color: white;
    border: 2px solid $primary;
    display: inline-block;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    text-transform: uppercase;

    @include breakpoint(untilTablet) {
        font-size: 14px;
    }
      

    &:hover, &:active {
      background-color: darken($primary, 10%);
      border-color:  darken($primary, 10%);
      transition: all .2s ease;
      color: white;
    }

    &.full {
      width: 100%;
    }

    &.btn-white {
        background-color: white;
        color: $primary;
        border: 2px solid white;

    }

    &.btn-hollow {
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }

    &.btn-hollow-primary {
      background-color: transparent;
      color: $primary;
      border: 2px solid $primary;
    }

    &.btn-hollow-black {
      background-color: transparent;
      border: 1px solid black;
      color: black;
    }
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  color: $primary;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}

.hero-alt {
    padding: 6rem 0 3rem;
    position: relative;
    margin-bottom: 6rem;
    .background {
        position: absolute;
        right: .75rem;
        top: 0;
        height: 100%;
        display: block;

        img {
            height: 100%;

            @media screen and (max-width:1368px) {
                height: 85%;
            }
        }

    }
    .hero-text {
        text-align: end;
        z-index: 4;
        position: relative;

        h1 {
            margin-bottom: 2rem;
        }

        p {
            line-height: 34px;
        }
    }
    @include breakpoint(untilTablet) {
        padding: 0;
        padding-bottom: 2rem;

        .background-mobile {
            padding: 0;
            img {
                width: 100%;
            }
        }
        .background {
            display: none;
        }

        .hero-text {
            text-align: start;
            padding: 1rem;
            background-color: rgba($color: white, $alpha: 0.6);
            margin-top: -8rem;
        }
    }
}

.page-title {
    padding: 80px 0;
    background-color: $secondary;
    text-align: center;
    margin-bottom: 5rem;

    p {
        margin-top: 2rem;
    }
}


.cta {
    align-items: center;
    .register-text {
        position: relative;
        z-index: 4;

        h2 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 2rem;
        }
    }
    .bg-wrapper {
        position: absolute;
        right: .75rem;
        top: 50%;
        transform: translateY(-50%);

        img {
            width: 100%;
        }
    }
    .image-wrapper {
        position: relative;
        text-align: end;
        opacity: .7;
    }

    .image-mobile {
        display: none;
    }

    @include breakpoint(untilTablet) {
        .register-text {
            background-color: rgba($color: white, $alpha: .6);
            padding: 1rem;
            margin-top: -6rem;
        }
        .image-mobile {
            display: block;
            padding: 0;

            .image-wrapper {
                opacity: 1;
                margin-bottom: 2rem;

                img {
                    width: 100%;
                }
            }
        }

        .image-desktop {
            display: none;
        }
    }

    &.left {
        .bg-wrapper {
            left: .75rem;
            right: 0;
        }
        .image-wrapper {
            text-align: start;
        }
    }
}

.list-image-item {
    background-color: $secondary;
    padding: 2rem;
    padding-left: 0;
    margin-left: 7rem;

    .row {
        align-items: center;
    }
    
    &:first-child {
        margin-bottom: 2rem;
    }

    .image-wrapper {
        margin-left: -7rem;
        margin-right: 2rem;

        img {
            width: 100%;
        }
    }

    @include breakpoint(untilTablet) {
        margin-left: 0;
        padding: 1rem;
        padding-top: 0;
        margin-top: 7rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;

        .image-wrapper {
            margin-left: 0;
            margin-right: 0;
            margin-top: -4rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;

            img {
                width: 60%;
            }
        }
        .button-wrapper {
            flex-wrap: wrap;
        }
        .button {
            width: 100%;
            &:first-child {
                margin-bottom: 1rem;
                margin-right: 0 !important;
            }
        }
    }
}

.image-grid {
  margin-bottom: 4rem;
  .row {
      align-items: center;
  }

  .item-header {
      margin-bottom: 1rem;
  }

  &.right {
      .image-wrapper {
          margin-left: 2rem;
      }
  }

  &.left {
      .image-wrapper {
          margin-right: 4rem;
      }
  }

  .image-wrapper {
      img {
          width: 100%;
      }
  }

  @include breakpoint(untilTablet) {
    &.right {
        .item-text {
            order: 2;
        }

        .item-image {
            order: 1;
            margin-bottom: 2rem;
        }

        .image-wrapper {
            margin-left: 0;
        }
    }
  
    &.left {
        .item-image {
            margin-bottom: 2rem;
        }
        .image-wrapper {
            margin-right: 0;
        }
    }
  }
}

.list-item {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  padding-left: 0;
  background-color: $secondary;
  margin-bottom: 2rem;
  margin-left: 1rem;

  .image-wrapper {
      margin-left: -1rem;
      margin-right: 2rem;
  }

  .number-wrapper {
      margin-left: -1rem;
      margin-right: 2rem;
      background-color: $primary;
      color: white;
      min-width: 32px;
      height: 32px;
      font-family: 'Barlow', sans-serif;
      font-weight: 800;
      font-size: 21px;
      display: flex;
      justify-content: center;
  }
}
 