.benefits {
    .button {
        font-size: 14px;
    }
}

.products {
    .container {
        position: relative;

        .cta {
            margin-bottom: 100px;

            p {
                margin-bottom: 0;
            }
        }
    }
}

.product-items {
    margin-bottom: 100px;
    text-align: center;

    @include breakpoint(untilTablet) {
        text-align: left;

        .image-wrapper {
            margin-bottom: 2rem;

            img {
                width: 100%;
            }
        }
    }

    .text-header {
        margin-bottom: 20px;
    }

    .subtitle {
        margin-bottom: 40px;
    }
}