.hero {
    position: relative;
    .container {
        .row {
            .hero-text {
                min-height: 90vh;
                z-index: 4;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 5rem;
    
                h1 {
                    margin-bottom: 20px;
                }
    
                p {
                    margin-bottom: 2rem;
                }
    
                .button {
                    font-size: 18px;
                }
    
                @include breakpoint(untilTablet) {
                    min-height: 0;
                    padding-right: 0;
                    order: 2;
                    padding: 1rem;
                    background-color: rgba($color: white, $alpha: 0.6);
                    margin-top: -6.5rem;
                    .button {
                        width: 100%;
    
                        &:first-child {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
            .hero-image {
                position: absolute;
                right: 0;
                padding: 0 !important;
                height: 100%;
                
                .image-wrapper {
                    display: flex;
                    justify-content: flex-end;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                
    
                @include breakpoint(untilTablet) {
                    order: 1;
                    padding: 0;
                    position: relative;
    
                    .image-wrapper {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.about {
    position: relative;
    .background {
        position: absolute;
        left: 0;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .container {
        > .row {
            padding: 100px 0;
            align-items: center;
        }
        
        .about-text {
            position: relative;
            z-index: 3;
            padding-right: 4rem;

            h2 {
                margin-bottom: 2rem;
            }
        }

        @include breakpoint(desktop) {
            .list-image-item {
                margin-left: 3rem;
    
                .image-wrapper {
                    margin-left: -3rem;
                }
                p {
                    margin-bottom: 1rem;
                }
    
                .button {
                    font-size: 14px;
                }
            }
        }
    }
    @include breakpoint(untilTablet) {
       .background {
           display: none;
       }

       .container {
           > .row {
               .about-text {
                   padding-right: 0;
               }
           }
       }
    }

}

.how-to {
    position: relative;
    margin-bottom: 60px;
    .container {
        .row {
            align-items: center;
            min-height: 80vh;
            .text {
                h2 {
                    position: relative;
                    z-index: 3;
                }
            }
        
            .image {
                .image-wrapper {
                    position: absolute;
                    right: 0;
                    display: flex;
                    justify-content: flex-end;
                    height: 100%;
                    top: 0;
    
                    img {
                        width: 100%;
                    }
                }
            }

            @include breakpoint(untilTablet) {
                .text {
                    order: 2;
                    margin-top: -10rem;
                }

                .image {
                    order: 1;

                    .image-wrapper {
                        position: relative;
                    }
                }
            }
        }
    }
}

.how-items {
    margin-bottom: 3rem;
    .item-left {
        background-color: $secondary;
        position: relative;
        margin-bottom: 2rem;
        width: 87vw;
        margin-right: auto;

        .d-flex {
            align-items: center;
        }
        .item-text {
            padding-right: 3rem;
        }
        .item-image{
            padding: 3rem;
            z-index: 4;
            position: relative;
            padding-left: 8rem;

            &:after {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 50%;
                content: '';
                background-color: $primary;
                mix-blend-mode: multiply;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .image-wrapper {
                position: relative;
            }
        }

        @include breakpoint(untilTablet) {
            background-color: white;
            margin-right: 0;
            margin-bottom: 2rem;
            width: 100%;
            .d-flex {
                flex-direction: column;
            }

            .item-text {
                padding: 0 1rem;
            }

            .item-image {
                background-color: $secondary;
                margin-bottom: 2rem;
                text-align: center;
                padding: 2rem;
                width: 100%;
            }
        }
    }

    .item-right {
        background-color: $secondary;
        position: relative;
        margin-bottom: 2rem;
        width: 87vw;
        margin-left: auto;
        .item-text {
            padding-left: 3rem;
        }
        .d-flex {
            align-items: center;
        }

        .item-image{
            padding: 3rem;
            z-index: 4;
            position: relative;
            padding-right: 8rem;

            &:after {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 50%;
                content: '';
                background-color: $primary;
                mix-blend-mode: multiply;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .image-wrapper {
                position: relative;
            }
        }
        @include breakpoint(untilTablet) {
            background-color: white;
            margin-bottom: 2rem;
            margin-left: 0;
            width: 100%;
            .d-flex {
                flex-direction: column;
            }

            .item-text {
                padding: 0 1rem;
                order: 2;
            }

            .item-image {
                background-color: $secondary;
                margin-bottom: 2rem;
                width: 100%;
                order: 1;
                padding: 2rem;
                text-align: center;
            }
        }
    }
}

.aware {
    position: relative;
    margin-bottom: 71px;
    .container {
        .row {
            min-height: 53vh;
            align-items: center;
            .image-wrapper {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;

                img {
                    height: 100%;
                }
            }
        
            .aware-text {
                z-index: 4;
                position: relative;
                margin-left: 1rem;
            }

            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }

            @include breakpoint(untilTablet) {
                .desktop {
                    display: none;
                }

                .mobile {
                    display: block;
                }

                .aware-text {
                    margin-left: 0;
                }

                .image-wrapper {
                    position: relative;
                    margin-bottom: 1rem;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $secondary;
    padding: 4rem;
    margin-bottom: 3rem;

    h3 {
        margin-bottom: 69px;
    }

    .thumbnail-wrapper {
        min-width: 300px;
        width: 50vw;
        box-shadow: -20px 20px $primary;
        position: relative;
    }

    .play {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primary;
        background-color: white;
        padding: 1rem 2rem;
        font-size: 2.5rem;
    }

    
    @include breakpoint(untilTablet) {
        .play {
            padding: .5rem 1rem;
            font-size: 1rem;
        }
    }
}

.start {
    padding: 3rem 0;

    .start-header {
        @include breakpoint(laptop) {
            width: 80%;
            margin: auto;
            margin-bottom: 4rem;
        }
        text-align: center;
        margin-bottom: 2rem;
        
        h2 {
            margin-bottom: 2rem;
        }
    }
}

.problem {
    padding: 5rem 0;

    @include breakpoint(desktop) {
        .first-row {
            padding-right: 2rem;
        }

        .image-wrapper {
            img {
                width: 90% !important;
            }
        }
    }

    @include breakpoint(untilTablet) {
        padding: 2rem 0;
    }

    .problem-header {
        h2, p {
            margin-bottom: 2rem;
        }
    }

    .list-wrapper {
        margin-top: 2rem;
    }

    .list-image-item {
        h4 {
            margin-bottom: 20px;
        }
        p {
            font-size: 21px;
        }
    }
}

.register {
    margin-bottom: 3rem;
}
.faq {
    padding: 3rem 0;

    .container {
        .row {
            .faq-header {
                text-align: center;
                margin-bottom: 2rem;
            }

            .nav-tabs {
                border-bottom: 0;
                justify-content: center;
                margin-bottom: 3rem;
                flex-wrap: nowrap;

                .btn-primary {
                    background-color: lighten($color: $primary, $amount: 30%);
                    border-color: rgba($color: $primary, $alpha: 0.1);
                    margin: 0 1rem;

                    &:hover, &.active, &.active:focus {
                        background-color: $primary;
                        border-color: $primary;
                        box-shadow: none;
                    }
                }
            }

            .accordion-container{
                position: relative;
                height: auto;
                margin: 10px auto;
            }
            .set{
                position: relative;
                margin-bottom: 1rem;
                width: 100%;
                height: auto;
                background-color: $secondary;
                border-radius: 10px;

                > .header {
                    display: block;
                    padding: 1.5rem 2rem;
                    text-decoration: none;
                    font-weight: 600;
                    -webkit-transition:all 0.2s linear;
                    -moz-transition:all 0.2s linear;
                    transition:all 0.2s linear;
                    font-weight: 600;
                    font-family: 'Barlow', sans-serif;
                    cursor: pointer;
                    font-size: 21px;
                    
                    &.active {
                        i {
                            transform: rotate(180deg);
                        }
                    }

                    i {
                        float: right;
                        font-size: 12px;
                        margin-top: 2px;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        background-color: $primary;
                        border-radius: 50%;

                        &::before {
                            margin-top: 3px;
                        }
                    }

                    @include breakpoint(untilTablet) {
                        padding: 1rem;
                        font-size: 1rem;
                    }
                }
            }
            .content {
                background-color: $secondary;
                display:none;
                border: 0 0 10px 10px;

                p {
                    padding: 1.5rem 2rem;
                    margin: 0;
                    font-size: 18px;

                    @include breakpoint(untilTablet) {
                        padding: 1rem;
                        padding-top: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

