.supplier {
    .hero-alt {
        margin-bottom: 2rem;
        padding-top: 4rem;
        .row {
            min-height: 60vh;
            align-items: center;
        }

        .background {
            img {
                height: 110%;
            }
        }
    }

    .join {
        h2 {
            padding-right: 8rem;

            @include breakpoint(untilTablet) {
                padding: 0;
            }
        }

        @include breakpoint(desktop) {
            .first-row {
                padding-right: 3rem;
            }
        }
    }
}

.about-page {
    .hero-alt {
        .background {
            img {
                height: 90%;
            }
        }
    }
}