.testimoni {

    .row {
        .list-image-item {
            margin-left: 3rem;
    
            .image-wrapper {
                margin-left: -3rem;
            }
        }
        
    }
    .slick-slide {
        margin: 0 27px;
    }

    .slick-list {
        margin: 0 -27px;
        padding:0 40% 0 0 !important;
    }

    .slick-dots li button {
        padding: 0;
        width: 12px;
        height: 8px;
        margin: 0;
    }

    .slick-dots li button:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.4);;
        width: 12px;
        height: 8px;
        margin: 0;
        padding: 0;
        opacity: 1;
    }

    .slick-dots li.slick-active {
        width: 50px;
    }

    .slick-dots li.slick-active button {
        width: 50px;
    }

    .slick-dots li.slick-active button:before {
        width: 50px;
        background-color: $primary;
    }

    @include breakpoint(untilTablet) {
        .slick-slide {
            margin: 0 1rem;
        }
    
        .slick-list {
            margin: 0 -1rem;
            padding:0 12% 0 0 !important;
        }
    }
}

.join {
    .first-row {
        @include breakpoint(desktop) {
            padding-right: 2rem;
        }
    }
}