<nav class="navigation">
    <div class="container">
        <div class="row">
            <div class="nav-logo col-6 col-lg-2">
                <a href="/">
                    <div class="logo-text">
                        HEMERA
                    </div>
                </a>
            </div>
            <div class="menu col-6 col-lg-10">
                <ul>
                    <li class="menu-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-link">
                        <a href="/dropshipper.html">Dropshipper</a>
                    </li>
                    <li class="menu-link">
                        <a href="/supplier.html">Supplier</a>
                    </li>
                    <li class="menu-link">
                        <a href="/about.html">About</a>
                    </li>
                    <li class="menu-link">
                        <a href="/testimoni.html">Testimoni</a>
                    </li>
                    <li class="menu-link">
                        <a href="/blog.html">Blog</a>
                    </li>
                    <li class="menu-link">
                        <a href="/contact-us.html">Contact Us</a>
                    </li>
                    <a href="/register.html" class="button btn-primary">
                        <li>Daftar Dropshipper</li>
                    </a>
                </ul>
            </div>

            <div class="col-6 hamburger">
                <div class="image-wrapper d-flex justify-content-end">
                    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample">
                        <img src="images/hamburger.png" alt="Menu">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <div class="offcanvas-title" id="offcanvasExampleLabel">
                <div class="logo-text">
                    HEMERA
                </div>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="offcanvas-menu">
                <ul>
                    <li class="menu-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-link">
                        <a href="/dropshipper.html">Dropshipper</a>
                    </li>
                    <li class="menu-link">
                        <a href="/supplier.html">Supplier</a>
                    </li>
                    <li class="menu-link">
                        <a href="/about.html">About</a>
                    </li>
                    <li class="menu-link">
                        <a href="/testimoni.html">Testimoni</a>
                    </li>
                    <li class="menu-link">
                        <a href="/blog.html">Blog</a>
                    </li>
                    <li class="menu-link">
                        <a href="/contact-us.html">Contact Us</a>
                    </li>
                    <a href="/register.html" class="button btn-primary">
                        <li>Daftar Dropshipper</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {
        var loc = window.location.pathname;

        $('.menu').find('a').each(function() {
            $(this).toggleClass('active', $(this).attr('href') == loc);
        });

        $('.offcanvas-menu').find('a').each(function() {
            $(this).parent().toggleClass('active', $(this).attr('href') == loc);
        });
    });
</script>